@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #bde1ff;
  --gradient-color-2: #6ca0f4;
  --gradient-color-3: #e2d8ee;
  --gradient-color-4: #94c8ff;
}

body {
  font-family: 'Gilroy', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer utilities {
  .ribbon {
    --f: 0.5em;
    @apply absolute right-0 top-0 bg-[#7CB9F0] text-lg font-bold leading-7 text-white;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51% / var(--f);
    clip-path: polygon(100% calc(100% - var(--f)),
        100% 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),
        var(--f) calc(100% - var(--f)),
        0 100%,
        0 calc(100% - var(--f)),
        999px calc(100% - var(--f) - 999px),
        calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((1 - cos(45deg)) * 100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
  }

  @keyframes swinging {
    0% {
      transform: rotate(10deg);
    }

    50% {
      transform: rotate(-5deg);
    }

    100% {
      transform: rotate(10deg);
    }
  }

  .swingimage {
    @apply origin-top ease-in-out;
    animation: swinging 2.5s forwards infinite;
  }

  @keyframes animage {
    0% {
      transform: translateY(10%);
    }

    50% {
      transform: translateY(-5%);
    }

    100% {
      transform: translateY(10%);
    }
  }

  .animage {
    @apply origin-top ease-in-out;
    animation: animage 2.5s forwards infinite;
  }

  .no-img-styles {
    max-width: none;
    height: auto;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.slick-track {
  display: flex !important;
}

.testimonial.slick-slide {
  height: auto !important;
}

.testimonial {
  height: 100%;
}

.testimonial.slick-initialized .slick-slide {
  margin: 0 8px !important;
}

.swiper-slide {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  /* Thêm opacity vào transition */
}

.swiper-slide-active {
  opacity: 1;
  /* Đảm bảo slide active có độ mờ 100% */
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-name: swiperActive-f087a4a3;
  transform: scale(1.05);
  /* Tăng kích thước cho slide active */
}

@keyframes swiperActive-f087a4a3 {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(-5px);
  }

  to {
    transform: translate(0);
  }
}

.swiper-slide-next img {
  animation-duration: 1s;
  animation-name: swiperNext-f087a4a3;
}

@keyframes swiperNext-f087a4a3 {
  0% {
    height: 24px;
    transform: translate(24px);
    width: 24px;
  }

  40% {
    height: 54px;
    transform: translate(-10px);
    width: 54px;
  }

  to {
    height: 48px;
    transform: translate(0);
    width: 48px;
  }
}



/*
Assement
*/
.ass {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.ass-active {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}