.categoryShowcase {
  align-items: center;
  display: flex;
  height: 54px;
  position: relative;
  width: 176px;
  z-index: 1;
}

.categoryShowcaseSwiper {
  border-bottom-left-radius: 54px;
  border-top-left-radius: 54px;
  height: 54px;
  overflow: hidden;
  padding-left: 2px;
  width: 142px;
}

.categoryshowcaseplus {
  position: absolute;
  right: 1rem;
  top: 0;
  border: none;
  background: transparent;
  z-index: 2;
  cursor: pointer;
  padding: 0;
}
.categoryshowcaseplus img {
  // border: 2px solid #fff;
}
.btn {
  border-radius: 100%;
}
